div.drinkTable {
    border: 6px solid #948473;
    background-color: #FFE3C6;
    width: cover;
    text-align: center;
  }
  .divTable.drinkTable .divTableCell, .divTable.drinkTable .divTableHead {
    border: 3px solid black;
    padding: 4px 4px;
  }
  .divTable.drinkTable .divTableBody .divTableCell {
    font-size: 13px;
  }
  .divTable.drinkTable .divTableHeading {
    background: #948473;
    background: -moz-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
    background: -webkit-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
    background: linear-gradient(to bottom, #afa396 0%, #9e9081 66%, #948473 100%);
  }
  .divTable.drinkTable .divTableHeading .divTableHead {
    font-size: 17px;
    font-weight: bold;
    color: #F0F0F0;
    text-align: left;
    border-left: 3px solid black;
  }
  .divTable.drinkTable .divTableHeading .divTableHead:first-child {
    border-left: none;
  }
  
  .drinkTable .tableFootStyle {
    font-size: 16px;
    font-weight: bold;
    color: #F0F0F0;
    background: #948473;
    background: -moz-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
    background: -webkit-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
    background: linear-gradient(to bottom, #afa396 0%, #9e9081 66%, #948473 100%);
  }
  .drinkTable .tableFootStyle {
    font-size: 16px;
  }
  /* DivTable.com */
  .divTable{ display: table; }
  .divTableRow { display: table-row; }
  .divTableHeading { display: table-header-group;}
  .divTableCell, .divTableHead { display: table-cell;}
  .divTableHeading { display: table-header-group;}
  .divTableFoot { display: table-footer-group;}
  .divTableBody { display: table-row-group;}